
.containerLibrary {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    background: white;
}

.containerLibrary .title {
    text-align: center;
    font-family: serif;
    font-size: 40px;
    border-bottom: solid 1px;
    width: 100%;
    margin:auto;
    padding: 1%;

}

.wrapLibrary {
    position: relative;
    width: 80%;
    margin: auto;
}

.bo {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    background: #695f084f;
    margin-top: 15px;
    border-radius: 9px;
    height: 121px;
    box-shadow: 3px 5px 10px 1px #b5a589;
}



.trai {
    width: 30%;
    background: #0c0b0b;
    border-radius: 3%;
}

.trai img {
    height: 100%;
    width: 100%;
    border-radius: 4%;
    object-fit: contain;
    padding: 2%;
}

.phai {
    width: 70%;
    padding: 2%;
    font-size: 17px;
    font-family: sans-serif;
}