*{margin: 0; padding: 0;}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
body.container{
    height: 100%;
    width: 100%;
}

.row {
    height: 200px;
    margin-top: 2%;
}
.row .row2{
    margin-top: 5%;
}

.khoi1 {
    position: relative;
    box-shadow: 0 0 0 9px black;
    border-radius: 4px;
    box-sizing: border-box;
    perspective: 650px;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 0.5s;
    backface-visibility: hidden;

}

img {
    width: 100%;
    height: 100%;

}
.trang {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    left: 0;
}
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #FFEB3B;
    left: 0;
    box-sizing: border-box;
    padding: 35%;
    transition: 0.5s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.khoi1:hover .front{
    transform: rotateY(180deg);
}
.khoi1:hover .back{
    transform: rotateY(0deg);
}
.row .row3 {
    text-align: center;
    height: 20%;
    margin-top: 5%;
}