*{
    margin: 0;
    padding: 0;
}
#listNav ul li {
    color: #f1f1f1;
    display: inline-table;
    width:150px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
}
#listNav ul {
    list-style-type: none;
    background: rgba(35, 6, 163, 0.95);
}

#listNav ul li a{
    cursor: pointer;
    color: #f1f1f1;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    margin-bottom: 0;
}

#listNav ul li a:hover{
    color: red ;
    background: #3e66ff;
}


.Logout{
    float: right;
}

