
#listNav ul li {
    color: #f1f1f1;
    display: inline-table;
    width:150px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
}
#listNav ul {
    list-style-type: none;
    background: rgba(0, 0, 0, 0.74);
}

#listNav ul li a{
    cursor: pointer;
    color: #f1f1f1;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    margin-bottom: 0;
}

#listNav ul li a:hover{
    color: white ;
    background: black;
}


.Logout{
    float: right;
}
.Logout:hover{
    cursor: pointer;
}

